{% extends "network/layout.html" %}

{% block body %}
    <div style="margin-top: 20px; font-family: 'Trebuchet MS', sans-serif;">
        <h2 style="color: #03376a; text-align: center;">All Posts</h2>
        {% for post in page_obj %}
            <div style="border: 1px solid #300258; background-color: #f7e3fd; padding: 15px; border-radius: 10px; margin-bottom: 10px;">
                <p><strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong> - {{ post.timestamp }}</p>
                <p>{{ post.content }}</p>
                {% if post.image_url %}
                    <img src="{{ post.image_url }}" alt="Post Image" style="max-width: 300px; height: auto; border-radius: 10px; margin-top: 10px;">
                {% endif %}
                <p>Likes: 0</p>
                {% if request.user == post.user %}
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-secondary" style="background-color: #4B0082; color: white; border: none;">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
        <div style="text-align: center;">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}