{% extends "network/layout.html" %}

{% block body %}
    <div style="margin-top: 20px; font-family: 'Trebuchet MS', sans-serif;">
        <h2 style="color: #03376a; text-align: center;">All Posts</h2>
        {% for post in posts %}
            <div style="border: 1px solid #300258; background-color: #f7e3fd; padding: 15px; border-radius: 10px; margin-bottom: 10px;">
                <p><strong>{{ post.user.username }}</strong> - {{ post.timestamp }}</p>
                <p>{{ post.content }}</p>
                {% if post.image_url %}
                    <img src="{{ post.image_url }}" alt="Post Image" style="max-width: 300px; height: auto; border-radius: 10px; margin-top: 10px;">
                {% endif %}
                <p>Likes: 0</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}